.action-chip {
  width: 36px;
  height: 36px;
  text-align: center;
  background: $pix-neutral-0;
  border: 1px solid $pix-neutral-10;
  border-radius: 50%;

  &__icon {
    top: 0%;
    bottom: 0%;
    left: calc(50% - 20px / 2);
    color: #2B2B2B;
    font-size: 18px;
  }

  &:hover {
    background: $pix-neutral-10;
    border: 1.4px solid #2B2B2B;
    cursor: pointer;
  }

  &:disabled {
    cursor: initial;
    pointer-events: none;
  }

  &--selected {
    border-color: #2D69DE;

    .action-chip__icon {
      color: #2D69DE;
    }

    &:hover {
      border-color: #2D69DE;

      .action-chip__icon {
        color: #2D69DE;
      }
    }

    &:focus-visible {
      background-color: #2D69DE;
      border-color: $pix-neutral-0;
      box-shadow: 0 0 0 3px #2D69DE;

      .action-chip__icon {
        color: $pix-neutral-0;
      }
    }
  }

  &:not(.action-chip--selected):focus-visible {
    background-color: #2B2B2B;
    border-color: $pix-neutral-0;
    outline: none;
    box-shadow: 0 0 0 3px #2B2B2B;

    .action-chip__icon {
      color: $pix-neutral-0;
    }
  }
}
