.pix-choice-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  color: #2B2B2B;
  font-weight: $font-medium;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.028rem;
  white-space: nowrap;
  text-decoration: none;
  background: $pix-neutral-10;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;

  &--active {
    color: #2D69DE;
    background: #EAF0FB;
  }

  &:hover {
    color: $pix-neutral-90;
    background: $pix-neutral-20;
  }

  &:focus-visible {
    color: $pix-neutral-0;
    background-color: #2B2B2B;
    border-color: $pix-neutral-0;
    outline: none;
    box-shadow: 0 0 0 2px #2B2B2B;
  }
}
